page-feedback {
  .from {
    color: #626262;
    font-size: 8pt;
    margin-bottom: 33px;
  }
  .log {
    margin-top: 32px;
    font-size: 8pt;
    ion-checkbox {
      margin-right: 10px !important;
    }
  }
}
