page-assistant {
  .scroll-content {
    padding-top: 28px !important;
  }

  .quickmail {
    .hint {
      font-size: 10pt;
    }
    ion-item {
      margin-top: 12px;
      background: #fcfcfc;
    }
  }
  .line {
    margin: 30px 0px;
    border: 1px solid rgba(112, 112, 112, 0.17);
  }
  .contact {
    .item-block {
      min-height: 14px !important;
      height: 14px !important;
    }
    .title {
      font-size: 10pt;
    }
    .action {
      font-size: 7pt;
    }
    .phone-action {
      text-align: center;
      .hint {
        margin-top: 6px;
        font-size: 8pt;
      }
      .time {
        margin-top: 5px;
        color: #626262;
        font-size: 6pt;
      }
    }
  }

  .feedback {
    button {
      font-size: 10pt;
    }
  }
}
